body{
    font-family: monospace;
    text-align: center;
}

header{
    font-weight: 600;
    font-size: 40px;
}
button{
    font-size: larger;
    border-radius: 10px;
    background-color: black;
    color: white;
}

#actualColor{
    color: white;
    background-color: black;
}