#tablero{
    width:80%;
    height: 100%;
    text-align: center;
    margin:auto;
}

div.celda{
    display: inline-block;
    outline:1px solid black;
    font-size: 200%;
    height: 100px;
    background-color: lightgray;
}

div.text{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}